.svg-wrapper {
    position: relative;
    top: 0%;
    /* transform: translateY(-50%); */
    margin: 0 auto;
    width: 320px;  
  }
  .shape {
    stroke-dasharray: 120 3000;
    stroke-dashoffset: -600;
    stroke-width: 8px;
    fill: transparent;
    stroke: #19f6e8;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }
  
  .design {
    font-family: 'Roboto Condensed';
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    top: -190px;
    padding-left:5%;
    position: relative;
    text-align: center;
    
  }
  
  .logo{
     height: 150px;
     width: 95%;
  
  }
  .svg-wrapper:hover .shape {
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke-dasharray: 3000;
  }