.sponsors-card {
  display: inline-block;
  position: relative;
  margin: 10px 5px ;
  width: 240px;
  background-color: rgb(17, 17, 17);
}
.shape {
  margin: 0 auto;
  stroke-dasharray: 0 calc(2 * calc(240px + 200px));
  stroke-dashoffset: -550;
  stroke-width: 6px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.design {
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 40px;
  color: white;
  top: 10px;
  left: 20px;
  position: absolute;
  text-align: center;
}

.logo {
  height: 150px;
  width: 200px;
}
.sponsors-card:hover .shape {
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke-dasharray: 3000;
}
