.industry-talks-page {
  position: relative;
  padding: 5%;
  color: white;
}

.industry-talks-page .industry-talks-title {
  text-align: center;
  font-weight: 600;
  font-size: 64px;
}

.industry-talks-page .events-status {
  font-weight: 600;
  text-align: center;
  font-size: calc(0.5 * 64px);
}

.industry-talks-page .common-info {
  line-height: 2;
  text-align: center;
  font-size: calc(0.3 * 64px);
}

.talk_card {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  /* width: 850px; */
  width: 90%;
  height: 420px;
  margin: 30px auto;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
  box-shadow: 0px 15px 30px -15px rgba(22, 18, 17, 0.5);
}

.talk_card:hover {
  transform: scale(1.02);
  transition: all 0.4s;
}

.talk_card .info_section {
  position: relative;
  width: 70%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
}

.talk_card .info_section .talk_header {
  position: relative;
  padding: 25px;
  height: 50%;
  margin: 0 5px;
  border-bottom: 1px dotted transparent;
  border-image: linear-gradient(
      109.6deg,
      rgb(187, 0, 212) 20%,
      rgba(32, 38, 238, 0.8) 50%,
      rgba(32, 38, 238, 0.5) 90%
    )
    1;
}

.talk_card .info_section .talk_header h1 {
  font-size: 38px;
  color: #fff;
  font-weight: 400;
}

/* .talk_card .info_section .talk_header h4 {
  font-size: 20px;
  color: #9ac7fa;
  font-weight: 400;
} */

/* .talk_card .info_section .talk_header .session-time {
  display: inline-block;
  margin-top: 10px;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.13);
} */

.talk_card .info_section .talk_header .type {
  font-size: 26px;
  color: #cee4fd;
  margin-left: 10px;
}

.talk_card .info_section .talk_header .talk-cover-image {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 160px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

.talk_card .info_section .talk_desc {
  padding: 15px 45px;
  height: 50%;
  font-size: 1.2rem;
  line-height: 1.5;
}

.talk_card .info_section .talk_desc .text {
  color: #cfd6e1;
}

.talk_card .info_section .talk_desc ul {
  list-style-type: disc;
}

.talk_card .info_section .talk_social {
  height: 10%;
  padding-left: 15px;
  padding-bottom: 20px;
}

.talk_card .info_section .talk_social ul {
  list-style: none;
  padding: 0;
}

.talk_card .info_section .talk_social ul li {
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.3s;
  transition-delay: 0.15s;
  margin: 0 10px;
}

.talk_card .info_section .talk_social ul li:hover {
  transition: color 0.3s;
  color: rgba(255, 255, 255, 0.8);
}

.talk_card .info_section .talk_social ul li i {
  font-size: 19px;
  cursor: pointer;
}

.talk_card .talk_datetime {
  width: 30%;
  height: 100%;
  display: flex;
  color: rgba(222, 222, 222);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.85;
  z-index: 2;
}

.talk_card .talk_datetime h1 {
  margin: -60px -15% 0 0;
  font-size: 160px;
  font-weight: 900;
  font-style: oblique;
  text-shadow: 3px 6px 20px #141413;
}

.talk_card .talk_datetime time {
  color: #9ac7fa;
  font-size: 65px;
  font-weight: 700;
  line-height: 1.2;
}

.talk_card .talk_datetime address {
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
}

.talk_card .card_back {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  border-radius: 11px;
  opacity: 0.6;
  z-index: -3;
}

.talk_card:hover .card_tooltip {
  display: flex;
  padding: 10px;
}

.talk_card .card_tooltip {
  display: none;
  position: absolute;
  /* top: 0; */
  bottom: 10px;
  left: 30%;
  width: 40%;
  height: 50vh;
  color: white;
  background: rgba(0, 0, 0, 0.85);
  border-radius: 10px;
  box-shadow: 0 0 40px -5px rgba(187, 0, 212, 0.4);
  z-index: 1000;
  overflow-y: visible;
}

.talk_card .card_tooltip .swiper {
  height: 100%;
  width: 100%;
}

.card_tooltip .swiper .swiper-pagination-bullet {
  background-color: rgb(158, 158, 158);
  opacity: 1;
}

.card_tooltip .swiper .swiper-pagination-bullet-active {
  background-color: rgb(187, 0, 212);
  opacity: 1;
}

.card_tooltip .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.card_tooltip .swiper .swiper-slide .company_tabs_header {
  width: 100%;
  padding: 5px 0;
  color: #9ac7fa;
  font-size: 22px;
  font-weight: 700;
  border-top: 1px solid #6bb0ff;
  border-bottom: 1px solid #6bb0ff;
}

.card_tooltip .swiper .swiper-slide .company_link {
  cursor: pointer;
}

.card_tooltip .swiper .swiper-slide .company_link h3 {
  color: #00b4d8;
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

.card_tooltip .swiper .swiper-slide .company_details {
  padding: 10px 0 0;
  font-size: 14px;
}

.card_tooltip .swiper .swiper-slide .company_social_link {
  font-size: 18px;
  font-weight: 700;
}

/* .card_tooltip .swiper .swiper-slide .social_handle_icon {
} */

.card_tooltip .swiper .swiper-slide .speaker_img {
  margin: auto;
  height: 150px;
  width: 150px;
}

.card_tooltip .swiper .swiper-slide .speaker_name {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.card_tooltip .swiper .swiper-slide .speaker_designation {
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}

.card_tooltip .swiper .swiper-slide .speaker_achievements_experiences {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-weight: 700;
}

.card_tooltip .swiper .swiper-slide .speaker_achievements_experiences p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .info_section {
    /* background: linear-gradient(
      to right,
      rgba(23, 23, 23, 0.95) 80%,
      transparent 100%
    ); */
  }
  .card_back {
    width: 60%;
    background-position: 0% 20% !important;
  }
  .talk_card {
    background: linear-gradient(
      to right,
      rgba(23, 23, 23, 0.85) 75%,
      transparent 100%
    );
  }
}

@media screen and (max-width: 768px) {
  .talk_card {
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }
  .card_back {
    width: 100%;
    background-position: 50% 50% !important;
  }
  .talk_header {
    width: 100%;
    margin-top: 85px;
  }
  .talk_desc {
    width: 100%;
  }
  .info_section {
    background: linear-gradient(to top, #141413 50%, transparent 100%);
    display: inline-grid;
  }
}

.industry-talks-bottom-image {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  bottom: 0;
  margin: 0 -5.5% -6%;
  height: 320px;
  z-index: -1;
  filter: opacity(0.6);
  background-image: url("../../assets/images/industry-talks-bottom-image.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
