.cube-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cube-container{
    height: 600px;
    width: 600px;
    background-color: #000;
    /* animation: updown 5s linear infinite; */
    position: relative;
}

.cube-container>div{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: absolute;
}


@keyframes updown {
    0%{
        transform: translateY(0);
    }50%{
        transform: translateY(10px);
    }100%{
        transform: translateY(0);
    }
}