@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
/* 
body, html {
    height: 100%;
    margin: 0;
    padding: 0
} */

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    perspective: 400px;
    background: black
} */

/* div {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
} */

#cube {
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* p {
  font-family: "sherrif", monospace;
  font-size: 20px;
  color: #2ecc71;
  margin: 0;
} */

#cube {
  height: 100px;
  width: 100px;
  transform-style: preserve-3d;
  transform-origin: center center;
  transform: rotateY(-20deg) rotateX(50deg) rotatez(0deg);
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: linear;
}

#cube {
  position: absolute;
  border: 5px solid #2ecc71;
}

#back {
  transform-origin: top;
  transform: rotateX(90deg);
  background: black;
  animation: back 1.5s cubic-bezier(0.8, 0.2, 0.2, 0.8) infinite alternate;
}

#right {
  transform-origin: right;
  transform: rotateY(90deg) rotateX(0deg);
  background: linear-gradient(-135deg, #000000 0%, #292d2b 100%);
  animation: right 1.5s cubic-bezier(0.8, 0.2, 0.2, 0.8) infinite alternate;
}

#left {
  background: black;
  transform-origin: left;
  transform: rotateY(-90deg);
  animation: left 1.5s cubic-bezier(0.8, 0.2, 0.2, 0.8) infinite alternate;
}

#top {
  transform: translatez(50px);
  background: linear-gradient(135deg, #000000 0%, #292d2b 100%);
  animation: top 1.5s cubic-bezier(0.8, 0.2, 0.2, 0.8) infinite alternate;
}

#bottom {
  background: black;
  transform-origin: top;
  transform: translatez(0px) rotateY(0deg) rotateX(0deg);
  animation: bottom 1.5s cubic-bezier(0.8, 0.2, 0.2, 0.8) infinite alternate;
}

#front {
  transform-origin: bottom;
  transform: translatez(00px) rotatex(-90deg);
  background: linear-gradient(-135deg, #292d2b 0%, #000000 100%);
  animation: front 1.5s cubic-bezier(0.8, 0.2, 0.2, 0.8) infinite alternate;
}

/* span{
    animation-name: dots;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
} */

#d1 {
  animation-delay: 0.2s;
  animation-name: dots;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#d2 {
  animation-delay: 0.4s;
  animation-name: dots;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#d3 {
  animation-delay: 0.6s;
  animation-name: dots;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes top {
  100% {
    border: 0px solid black;
    transform: translatez(80px);
  }
}

@keyframes front {
  100% {
    border: 0px solid black;
    transform: translatey(30px) rotatex(-90deg);
  }
}

@keyframes right {
  100% {
    border: 0px solid black;
    transform: rotateY(90deg) translatez(30px);
  }
}

@keyframes back {
  100% {
    border: 0px solid black;
    transform: rotateX(90deg) translateZ(30px);
  }
}

@keyframes left {
  100% {
    border: 0px solid transparent;
    transform: rotateY(-90deg) translatez(30px);
  }
}

@keyframes bottom {
  100% {
    border: 5px solid black;
    transform: translatez(-30px);
  }
}

@keyframes dots {
  50% {
    color: transparent;
  }

  100% {
    color: transparent;
  }
}
