#menu__toggle {
  opacity: 0;
 
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

ol.even {
  position: relative;
  left: 5.45455rem;
  margin-left: 10px;
}

ol.odd {
  position: relative;
  margin-bottom: -3.2%;
}

.hex {
 position: relative;
 clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background: #1e2530;
  width: 180px;
  height: 180px;
  margin: 0 5px;
  display: inline-block;
  transform: rotate(90deg);
  visibility: hidden;
  transition: all 150ms ease-in-out;
}

.hex:before{

  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
/*   transform: rotate(90deg); */
   position: absolute;
  top:3%;
  left:3%;
  width: 170px!important;
  height: 170px;
  background: #ffffff;
  content: '';
  z-index: 2;
}

.hex:after{

  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

   position: absolute;
  top:5.8%;
  left:5.9%;
  width: 160px!important;
  height: 160px;
  background: #1e2530;
  content: '';
  z-index: 3;
}


.hex:hover::after, .hex:hover {
  background: #1e2530;
  cursor: pointer;
  transition: .3s ease;
}

.hex:hover::before{
  background: #1e2530;
}

.hex .hex-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) rotate(-90deg);
   color: white;
  z-index: 99;
 }

#menu__toggle:checked ~ .odd .hex:nth-child(1) {
  animation: appearing 0.1s ease;
  visibility: visible;
}

#menu__toggle:checked ~ .even .hex:nth-child(1) {
  animation: appearing 0.2s ease;
    visibility: visible;
}

#menu__toggle:checked ~ .odd .hex:nth-child(2) {
  animation: appearing 0.3s ease;
  visibility: visible;
}

#menu__toggle:checked ~ .even .hex:nth-child(2) {
  animation: appearing 0.4s ease;
    visibility: visible;
}

#menu__toggle:checked ~ .odd .hex:nth-child(3) {
  animation: appearing 0.5s ease;
  visibility: visible;
}

#menu__toggle:checked ~ .even .hex:nth-child(3) {
  animation: appearing 0.6s ease;
    visibility: visible;
}

#menu__toggle:checked ~ .odd .hex:nth-child(4) {
  animation: appearing 0.7s ease;
  visibility: visible;
}


/* disappear */

.odd .hex:nth-child(1) {
  animation: disappear 0.7s ease;
  visibility: hidden;
}

.even .hex:nth-child(1) {
  animation: disappear 0.6s ease;
    visibility: hidden;
}

.odd .hex:nth-child(2) {
  animation: disappear 0.5s ease;
  visibility: hidden;
}

.even .hex:nth-child(2) {
  animation: disappear 0.4s ease;
    visibility: hidden;
}

.odd .hex:nth-child(3) {
  animation: disappear 0.3s ease;
  visibility: hidden;
}

.even .hex:nth-child(3) {
  animation: disappear 0.2s ease;
    visibility: hidden;
}

.odd .hex:nth-child(4) {
  animation: disappear 0.1s ease;
  visibility: hidden;
}

@keyframes appearing {
  from {
            visibility:hidden;
            opacity: 0;
         }
     50% {
            visibility:hidden;
            opacity: 0;
         }
     to {
            visibility:visible;
            opacity: 1;
      }
}

@keyframes disappear {
  from {
            visibility:visible;
            opacity: 1;
         }
     50% {
            visibility:visible;
            opacity: 1;
         }
     to {
            visibility:hidden;                               opacity: 0;
      }
}
