.home2 {
  height: 100vh;
  background: #000;
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.home2 .wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home2 .wrapper .left {
  display: flex;
  flex-flow: column;
  padding: 2rem;
}

.home2 .wrapper .left p {
  font-size: 2rem;
}

.home2 .wrapper .left img {
  width: 30vw;
}
