.homepage {
  position: relative;
  height: 120vh;
  z-index: 5;
  background-color: black;
  text-align: center;
}

#mouse-parallax-container {
  height: 120vh;
  width: 100vw;
}

.homepage-background-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes tso-rainbow {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100vw 0;
  }
}

.tso-rainbow:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #30ff90;
  /* Old browsers */
  background: -moz-linear-gradient(
    left,
    rgba(48, 255, 144, 1) 0%,
    rgba(237, 45, 237, 1) 25%,
    rgba(201, 152, 38, 1) 50%,
    rgba(48, 255, 230, 1) 75%,
    rgba(48, 255, 144, 1) 100%
  );
  /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(48, 255, 144, 1)),
    color-stop(25%, rgba(237, 45, 237, 1)),
    color-stop(50%, rgba(201, 152, 38, 1)),
    color-stop(75%, rgba(48, 255, 230, 1)),
    color-stop(100%, rgba(48, 255, 144, 1))
  );
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    left,
    rgba(48, 255, 144, 1) 0%,
    rgba(237, 45, 237, 1) 25%,
    rgba(201, 152, 38, 1) 50%,
    rgba(48, 255, 230, 1) 75%,
    rgba(48, 255, 144, 1) 100%
  );
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    left,
    rgba(48, 255, 144, 1) 0%,
    rgba(237, 45, 237, 1) 25%,
    rgba(201, 152, 38, 1) 50%,
    rgba(48, 255, 230, 1) 75%,
    rgba(48, 255, 144, 1) 100%
  );
  /* Opera 11.10+ */
  background: -ms-linear-gradient(
    left,
    rgba(48, 255, 144, 1) 0%,
    rgba(237, 45, 237, 1) 25%,
    rgba(201, 152, 38, 1) 50%,
    rgba(48, 255, 230, 1) 75%,
    rgba(48, 255, 144, 1) 100%
  );
  /* IE10+ */
  background: linear-gradient(
    to right,
    rgba(48, 255, 144, 1) 0%,
    rgba(237, 45, 237, 1) 25%,
    rgba(201, 152, 38, 1) 50%,
    rgba(48, 255, 230, 1) 75%,
    rgba(48, 255, 144, 1) 100%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  animation-name: tso-rainbow;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

.tso-rainbow {
  position: relative;
  width: 100%;
  height: 5px;
}

.homepage-background-img {
  position: relative;
  margin-top: 5px;
  min-height: 200px;
  min-width: 500px;
  width: 100%;
}

.hole {
  position: relative;
  width: 65%;
  height: 65vh;
  margin: -60px auto 0;
}

.background-video {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 40%);
  height: 110%;
  width: 110%;
  filter: blur(20px);
  background: transparent;
  z-index: -1;
}

.falling-coins {
  position: absolute;
  width: 70vw;
  height: 40vw;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  overflow: visible;
  z-index: 2;
}

.falling-coins-svg {
  width: 100%;
  height: 100%;
  overflow: visible;
}

@keyframes increasingShadow {
  from {
    -webkit-filter: drop-shadow(3px 5px 15px #04c1fa00);
    filter: drop-shadow(3px 5px 15px #04c1fa00);
  }
  to {
    -webkit-filter: drop-shadow(3px 5px 15px #04c0fa);
    filter: drop-shadow(3px 5px 15px #04c0fa);
  }
}

.falling-coins-svg image {
  animation-name: increasingShadow;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.earth-pulses-container {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.earth-pulses-container g {
  filter: blur(0.8px);
  transition: all 0.1s ease-in-out;
}

.earth-pulses-container g:nth-child(1) {
  transform: matrix(1, 0.2, -0.8, 0.78, 0, 0);
}

.earth-pulses-container g:nth-child(2) {
  transform: matrix(1.12, 0.1, -0.25, 0.9, 0, 0);
}

.earth-pulses-container g:nth-child(3) {
  transform: matrix(1, 0.1, -0.3, 0.5, 0, 0);
}

.earth-pulses-container g:nth-child(4) {
  transform: matrix(0.948, 0.13, 0.4, 0.45, 0, 0);
}

.earth-pulses-container g #core {
  fill: rgba(2, 112, 176, 0.503);
  animation: pulse1 1.5s ease-in-out infinite;
}

.earth-pulses-container g #radar {
  fill: rgba(2, 112, 176, 0.386);
  animation: pulse2 1.5s ease-in-out 0.75s infinite;
}

@keyframes pulse1 {
  0% {
    r: 0;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    r: calc(inherit + 10px);
    opacity: 0;
  }
}

@keyframes pulse2 {
  0% {
    r: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    r: calc(inherit + 30px);
    opacity: 0;
  }
}

.homepage-contents img {
  max-width: 600px;
  width: 60vw;
  margin: 120px auto -10px;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.homepage-contents h2 {
  font-size: calc(2vh + 1vw);
  font-weight: 700;
  color: #a2bccb;
  margin: 20px auto;
  transform: scale(0.9);
  animation: scale 5.6s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.homepage-contents h2 span {
  display: inline-block;
  margin: 0 0.05em;
  transform: scale(0.94);
  opacity: 0;
  filter: blur(4px);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.homepage-contents h2 span:nth-child(1) {
  animation: fade-in 2.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.homepage-contents h2 span:nth-child(2) {
  animation: fade-in 2.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.homepage-contents h2 span:nth-child(3) {
  animation: fade-in 2.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.homepage-contents h2 span:nth-child(4) {
  animation: fade-in 2.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@media screen and (max-width: 400px) {
  .homepage-background-img {
    width: 200%;
  }

  .homepage-contents img {
    max-width: none;
    width: 80vw;
  }
  .homepage-contents {
    padding: 100px 0;
  }
  .homepage-contents h2 span {
    font-size: 1.2rem;
  }
}
