.homepage {
  position: relative;
  height: 100vh;
  z-index: 5;
  background-color: black;
  text-align: center;
  overflow: hidden;
}

#mouse-parallax-container {
  height: 100vh;
}

.homepage-background-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-video {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 30%);
  height: 130%;
  width: 130%;
  filter: blur(20px);
  background: transparent;
  z-index: -1;
}

@keyframes tso-rainbow {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100vw 0;
  }
}

.tso-rainbow:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #30ff90;
  /* Old browsers */
  background: -moz-linear-gradient(
    left,
    rgba(48, 255, 144, 1) 0%,
    rgba(237, 45, 237, 1) 25%,
    rgba(201, 152, 38, 1) 50%,
    rgba(48, 255, 230, 1) 75%,
    rgba(48, 255, 144, 1) 100%
  );
  /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(48, 255, 144, 1)),
    color-stop(25%, rgba(237, 45, 237, 1)),
    color-stop(50%, rgba(201, 152, 38, 1)),
    color-stop(75%, rgba(48, 255, 230, 1)),
    color-stop(100%, rgba(48, 255, 144, 1))
  );
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    left,
    rgba(48, 255, 144, 1) 0%,
    rgba(237, 45, 237, 1) 25%,
    rgba(201, 152, 38, 1) 50%,
    rgba(48, 255, 230, 1) 75%,
    rgba(48, 255, 144, 1) 100%
  );
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    left,
    rgba(48, 255, 144, 1) 0%,
    rgba(237, 45, 237, 1) 25%,
    rgba(201, 152, 38, 1) 50%,
    rgba(48, 255, 230, 1) 75%,
    rgba(48, 255, 144, 1) 100%
  );
  /* Opera 11.10+ */
  background: -ms-linear-gradient(
    left,
    rgba(48, 255, 144, 1) 0%,
    rgba(237, 45, 237, 1) 25%,
    rgba(201, 152, 38, 1) 50%,
    rgba(48, 255, 230, 1) 75%,
    rgba(48, 255, 144, 1) 100%
  );
  /* IE10+ */
  background: linear-gradient(
    to right,
    rgba(48, 255, 144, 1) 0%,
    rgba(237, 45, 237, 1) 25%,
    rgba(201, 152, 38, 1) 50%,
    rgba(48, 255, 230, 1) 75%,
    rgba(48, 255, 144, 1) 100%
  );
  position: absolute;
  bottom: 0;
  left: 0;
  animation-name: tso-rainbow;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

.tso-rainbow {
  position: relative;
  width: 100%;
  height: 5px;
}

.homepage-background-img {
  position: relative;
  margin-top: 5px;
  min-height: 200px;
  min-width: 500px;
  width: 100%;
}

.gradient {
  position: relative;
  top: -20px;
  height: 65vh;
  z-index: 2;
}

.earth {
  position: absolute;
  bottom: -5vh;
  right: 5px;
  /* bottom: 30vh; */ /*! New Idea with this setting*/
  /* left: 15px; */
  height: 35vh;
}

.vertical-lines-container {
  position: absolute;
  /* top: 100%; */
  bottom: 0;
  /* left: 50%;
  transform: translateX(-50%); */
  min-width: 1400px;
  height: 60%;
  box-shadow: inset 0 -15px 15px -15px #04c0fa;
  z-index: 3;
}

.lines-svg {
  min-width: 100%;
  height: 100%;
}

.lines-svg polyline {
  stroke-width: 1.2;
  stroke-dasharray: 6, 4;
  stroke-dashoffset: 1000;
  stroke: url(#linearGradient);
  fill: none;
  filter: blur(0.4px);
  animation: moving-dash 150s linear alternate infinite;
}

@keyframes moving-dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.lines-svg image {
  width: 5%;
  -webkit-filter: drop-shadow(3px 3px 10px #009ffd) brightness(85%);
  filter: drop-shadow(3px 3px 10px #009ffd) brightness(85%);
}

.lines-svg image:nth-child(odd) {
  animation: 3s oscillate-blocks infinite ease-in-out;
}

.lines-svg image:nth-child(even) {
  animation: 3.4s oscillate-blocks infinite ease-in-out;
  animation-delay: 2s;
}

.lines-svg image:nth-child(3n) {
  animation: 3.4s oscillate-blocks infinite ease-in-out;
  animation-delay: 1.5s;
}

@keyframes oscillate-blocks {
  0% {
    -webkit-transform: translateY(-0.1%);
    transform: translateY(-0.1%);
  }
  50% {
    -webkit-transform: translateY(3%);
    transform: translateY(3%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

.lines-svg g {
  display: none;
  filter: blur(0.8px);
  transition: all 0.1s ease-in-out;
}

#core {
  fill: rgba(0, 159, 253, 0.8);
  animation: pulse1 1.5s ease-in-out infinite;
}

#radar {
  fill: rgba(0, 159, 253, 0.3);
  animation: pulse2 1.5s ease-in-out infinite;
}

@keyframes pulse1 {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes pulse2 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.homepage-contents {
  position: relative;
  z-index: 4;
  padding: 50px 0;
}

.homepage-contents img {
  margin: 0 auto;
  max-width: 45vw;
  -webkit-filter: drop-shadow(1px 1px 3px #00a0fd44);
  filter: drop-shadow(1px 1px 3px #00a0fd83);
}

.homepage-contents .homepage-asset {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 20%;
}

.homepage-contents .homepage-asset.homepage-asset1 {
  left: 10%;
}

.homepage-contents .homepage-asset.homepage-asset2 {
  right: 10%;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.homepage-contents h2 {
  font-size: calc(2vh + 1vw);
  font-weight: 700;
  color: #a2bccb;
  margin: 20px auto;
  transform: scale(0.9);
  animation: scale 5.6s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.homepage-contents h2 span {
  display: inline-block;
  margin: 0 0.05em;
  transform: scale(0.94);
  opacity: 0;
  filter: blur(4px);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.homepage-contents h2 span:nth-child(1) {
  animation: fade-in 2.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.homepage-contents h2 span:nth-child(2) {
  animation: fade-in 2.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.homepage-contents h2 span:nth-child(3) {
  animation: fade-in 2.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.homepage-contents h2 span:nth-child(4) {
  animation: fade-in 2.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@media screen and (max-width: 400px) {
  .homepage-background-img {
    width: 200%;
  }

  .earth {
    transform: scale(0.5);
  }

  .vertical-lines-container {
    transform: translateX(-50%) scale(0.5) translateY(50%);
  }

  .homepage-contents img {
    max-width: none;
    width: 80vw;
  }
  .homepage-contents {
    padding: 100px 0;
  }
  .homepage-contents h2 span {
    font-size: 1.2rem;
  }
}
