.industry-talk-detail {
  margin-top: 5rem;
}

.industry-talk-detail .wrapper {
  color: #fff;
  text-align: left;
  width: 100%;
  height: 100%;
  margin: 5% auto;
  padding: 0 10%;
}

.industry-talk-detail .wrapper .heading {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 1.55px;
  text-align: left;
  top: 3vw;
  left: 3vw;
  margin-bottom: 2.3vw;
}

.industry-talk-detail .wrapper .talk-details .left {
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #07070a, #93d3cb, #07070a) 2;
  border-left: transparent;
  border-right: transparent;
  /* background-color: rgba(26, 104, 249, 0.366); */
}

.industry-talk-detail .wrapper .talk-details .left img {
  /* filter: brightness(0.36); */
  width: 300px;
  height: 300px;
  float: left;
  object-fit: fill;
  max-width: 300px;
}

.industry-talk-detail .wrapper .talk-details {
  width: 100%;
  box-sizing: border-box;
  background-color: #0f0f12;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1.5rem;
}

.industry-talk-detail .wrapper .talk-details .right {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: column;
  padding-left: 3vw;
  padding-right: 3vw;
}

.industry-talk-detail .wrapper .talk-details .right h1 {
  color: rgb(26, 104, 249);
  font-weight: 900;
}

.industry-talk-detail .wrapper .talk-details .right button {
  width: 300px;
  padding: 0.625rem 1rem;
  background: rgb(26, 104, 249);
  font-size: 1rem;
  text-align: center;
  line-height: 1.05rem;
  letter-spacing: 0.08em;
  color: #fff;
  cursor: pointer;
}

.industry-talk-detail .wrapper .talk-schedule {
  margin: auto;
  margin-top: 0.3rem;
  margin-bottom: 4rem;
  width: 100%;
  box-sizing: border-box;
  background-color: #0f0f12;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 2.5rem 2.5rem;
}

.industry-talk-detail .wrapper .talk-schedule .talk-schedule-items {
  width: 32vw;
  display: flex;
  align-self: normal;
}

.industry-talk-detail .wrapper .talk-schedule .middle-line {
  align-self: normal;
  margin: 0 10% !important;
}

.industry-talk-detail .wrapper .talk-schedule .vertical-line {
  height: 4.5rem;
  background: rgb(26, 104, 249);
  width: 1px;
  margin: 0 15%;
}

.industry-talk-detail
  .wrapper
  .talk-schedule
  .talk-schedule-items
  .talk-schedule-item {
  width: 18vw;
  text-align: left;
  height: 80%;
  align-self: center;
}

.industry-talk-detail
  .wrapper
  .talk-schedule
  .talk-schedule-items
  .talk-schedule-item
  .title {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.875rem;
  text-align: left;
  letter-spacing: 1.5px;
  margin-bottom: 5px;
}

.industry-talk-detail
  .wrapper
  .talk-schedule
  .talk-schedule-items
  .talk-schedule-item
  .desc {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.625rem;
  text-align: left;
  display: flex;
  flex-direction: row;
}

.industry-talk-detail .wrapper .company-details {
  padding: 2.5rem;
  background-color: #0f0f12;
  margin-bottom: 4rem;
}

/* .industry-talk-detail .wrapper .company-details h1{

} */

.industry-talk-detail .wrapper .company-details .company-left img {
  width: 300px;
  height: 300px;
  max-width: none;
}

.industry-talk-detail .wrapper .company-details .company-right {
  padding: 0 3vw;
}

.industry-talk-detail .wrapper .company-details .company-links i {
  font-size: 30px !important;
}

.industry-talk-detail .wrapper .agenda {
  padding: 2.5rem;
  background-color: #0f0f12;
  margin-bottom: 4rem;
}

.industry-talk-detail .wrapper .speakers {
  padding: 2.5rem;
  background-color: #0f0f12;
  margin-bottom: 4rem;
}

.industry-talk-detail .wrapper .speakers .speakers-wrapper {
  height: -webkit-min-content;
  height: min-content;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.industry-talk-detail .wrapper .speakers .speakers-wrapper .cards-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  padding: 30px 20px;
  width: 100%;
}

.industry-talk-detail .wrapper .speakers .speakers-wrapper .speaker-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #fff;
  margin: 30px 20px;
}

.industry-talk-detail
  .wrapper
  .speakers
  .speakers-wrapper
  .speaker-card
  .speaker-img {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: opacity 0.3s linear 0s;
  width: 100%;
}

.industry-talk-detail
  .wrapper
  .speakers
  .speakers-wrapper
  .speaker-card:hover
  .speaker-img {
  opacity: 0.5;
}

.industry-talk-detail
  .wrapper
  .speakers
  .speakers-wrapper
  .speaker-card
  .speaker-img
  img {
  width: 300px;
  height: 300px;
  mask-image: linear-gradient(180deg, #000, transparent);
  -webkit-mask-image: linear-gradient(180deg, #000, transparent);
}

.industry-talk-detail
  .wrapper
  .speakers
  .speakers-wrapper
  .speaker-card
  .speaker-info {
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  transition: all 0.3s linear 0s;
  width: 100%;
}

.industry-talk-detail
  .wrapper
  .speakers
  .speakers-wrapper
  .speaker-card:hover
  .speaker-info {
  height: 100%;
  opacity: 1;
  z-index: 1;
}

.industry-talk-detail
  .wrapper
  .speakers
  .speakers-wrapper
  .speaker-card
  .speaker-name {
  line-height: 1;
  opacity: 1;
  transition: all 0.3s linear 0s;
  width: 350px;
  font-size: 2rem;
  height: -webkit-max-content;
  height: max-content;
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  top: 80%;
}

.industry-talk-detail
  .wrapper
  .speakers
  .speakers-wrapper
  .speaker-card:hover
  .speaker-name {
  opacity: 0;
}

.industry-talk-detail
  .wrapper
  .speakers
  .speakers-wrapper
  .speaker-card
  .speaker-name
  p {
  font-size: 1.5rem;
}

.industry-talk-detail .fa-linkedin {
  color: white;
}

@media screen and (max-width: 1024px) {
  .industry-talk-detail .wrapper .speakers .speakers-wrapper .cards-wrapper {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 768px) {
  .industry-talk-detail h1 {
    text-align: center;
  }
  .industry-talk-detail .wrapper .speakers {
    padding: 1.5rem;
  }
  .industry-talk-detail .wrapper .speakers .speakers-wrapper .cards-wrapper {
    grid-template-columns: auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }
  .industry-talk-detail .wrapper .speakers .speakers-wrapper .speaker-card {
    margin: 10px;
    margin-bottom: 30px;
  }
  .industry-talk-detail
    .wrapper
    .speakers
    .speakers-wrapper
    .speaker-card
    .speaker-img
    img {
    height: 200px;
    width: 200px;
  }
  .industry-talk-detail
    .wrapper
    .speakers
    .speakers-wrapper
    .speaker-card
    .speaker-name {
    width: 250px;
    font-size: 1.3rem;
  }
  .industry-talk-detail
    .wrapper
    .speakers
    .speakers-wrapper
    .speaker-card
    .speaker-name
    p {
    font-size: 0.9rem;
  }
  .industry-talk-detail .wrapper .company-details .company-right {
    padding: 10px 0;
    text-align: justify;
  }
  .industry-talk-detail .wrapper .company-details .company-left img {
    width: 200px;
    height: 200px;
  }
  .industry-talk-detail .wrapper .company-details .company-left {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .industry-talk-detail .wrapper .agenda {
    padding: 1.5rem;
  }
  .industry-talk-detail .wrapper .company-details {
    padding: 1.5rem;
  }
  .industry-talk-detail .wrapper .talk-schedule {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.5rem;
  }
  .industry-talk-detail .wrapper .talk-schedule .middle-line{
    display: none;
  }
  .industry-talk-detail .wrapper .talk-schedule .talk-schedule-items .talk-schedule-item .title{
    font-size: 1.3rem;
  }
  .industry-talk-detail .wrapper .talk-schedule .talk-schedule-items .talk-schedule-item .desc{
    font-size: 0.7rem;
  }
  .industry-talk-detail .wrapper .talk-schedule .talk-schedule-items{
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
  }
  .industry-talk-detail .wrapper .talk-details .right button{
    width: 100%;
  }
  .industry-talk-detail .wrapper .talk-details .right p{
    text-align: justify;
  }
  .industry-talk-detail .wrapper .talk-details .left img{
    height: 200px;
    width: 200px;
  }
  .industry-talk-detail .wrapper .talk-details .left{
    margin-bottom: 20px;
  }
}
