@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate {
  from {
    transform: translate(-11px, -11px) rotate(0deg);
  }
  to {
    transform: translate(-11px, -11px) rotate(360deg);
  }
}

a {
  cursor: pointer !important;
}

::selection {
  background: #36d3ff;
  color: #004872e5;
  text-shadow: none;
}