@keyframes float {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
    50% {
		
		transform: translatey(-20px);
	}
	/* 66.66% { */
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		/* transform: translatey(30px); */
	/* } */
    /* 75% {
		
		transform: translatey(30px);
	} */
	100% {
		
		transform: translatey(0px);
	}
}

/* .Events{
	z-index: inherit;
} */
.cardgreen:hover{
    /* hover:bg-white hover:bg-opacity-5 */
    background: rgba(255, 255, 255, 0);
    /* opacity: 75%; */
    animation: glowgreen 5s ease-in-out infinite;
    
} 
.iconcart{
	visibility: hidden;
}
.cardgreen:hover.iconcart{
	
color: rgb(255, 255, 255);
	visibility: visible;
	/* transform: translate(0, -5px); */
	/* animation: float 5s ease-in-out infinite; */
	/* transition: all .3s ease-in; */
} 


.cardpink:hover{
    /* hover:bg-white hover:bg-opacity-5 */
    background: rgba(255, 255, 255, 0);
    /* opacity: 75%; */
    animation: glowpink 5s ease-in-out infinite;
    
}
.cardpink:hover .Logo{
	animation: float 5s ease-in-out infinite;
}
.cardgreen:hover .Logo{
	/* width: 150px;
	height: 150px; */
	/* box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%; */
	/* overflow: hidden; */
	/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
	/* transform: translatey(0px); */
	animation: float 5s ease-in-out infinite;
    /* animation: glowbase 3000ms infinite alternate-reverse; */
	/* img { width: 100%; height: auto; }
*/
}
.cardgreen:hover .base{
    /* animation: glowbase 5s infinite alternate-reverse; */
    /* animation: float 5s ease-in-out infinite; */
    animation: glowbase 5s ease-in-out infinite;
}
@keyframes glowpink {
	0%,100% {
		box-shadow:1px 1px #8d09a75c, 0 0 20px 5px #8503535f, inset 2px 2px #ea18c75b;
	}
	50% {
		box-shadow: 1px 1px #8c09a7, 0 0 20px 5px #850353, inset 2px 2px #ea18c7;
	}
}
@keyframes glowgreen {
	0%,100% {
		box-shadow:1px 1px #09a7115c, 0 0 20px 5px #0385175f, inset 2px 2px #18ea385b;
	}
	50% {
		box-shadow: 1px 1px #09a711, 0 0 20px 5px #038517, inset 2px 2px #18ea38;
	}
}

@keyframes glowbase {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(1.5);
    }
    100% {
        filter: brightness(1);
    }
}
.icon{
	fill: #fff;
}


.cardgreen:hover .iconcart
{
	visibility: visible;
	transform: translate(0, -5px);
	transition: all .3s ease-in;}
	
	/* display: inline-block; */
        /* margin: 4px; */
        /* color: #fff; */
        /* width: 25px; */
        /* height: 25px; */
        /* border-radius: 50%; */
        /* background: rgba(255, 255, 255, 0.9); */
        /* text-align: center;
        line-height: 1.7rem;
        font-size: 12px; */
        /* transition: all .3s ease;
        transform: translateX(500%); */
		/* transition-delay: .2s; */
