@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  /* 66.66% { */
  /* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
  /* transform: translatey(30px); */
  /* } */
  /* 75% {
		
		transform: translatey(30px);
	} */
  100% {
    transform: translatey(0px);
  }
}

/* .Events{
	z-index: inherit;
} */
.cardgreen:hover {
  /* hover:bg-white hover:bg-opacity-5 */
  background: rgba(255, 255, 255, 0);
  /* opacity: 75%; */
  animation: glowgreen 5s ease-in-out infinite;
}
.iconcart {
  visibility: hidden;
}
/* .cardpink:hover .icon .carti #date {
  color: rgb(255, 255, 255);
  visibility: visible;
  display: inline-block;
  margin: 4px;
  margin-left: -25px;
  position: absolute;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #57ccfd;
  background: rgb(219, 12, 246);
  text-align: center;
  line-height: 1.7rem;
  animation: glowpink 5s ease-in-out infinite;
  transition: all 0.5s ease;
  transform: translateX(235%);
} */

.cardgreen:hover .icon .carti #date {
  color: rgb(255, 255, 255);
  visibility: visible;
  display: inline-block;
  /* margin: 4px; */
  margin-left: -25px;
  position: absolute;
  /* font-size: x-small; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* background: #57ccfd; */
  background: rgba(216, 26, 26, 0);
  text-align: center;
  /* line-height: 1.7rem; */
  font-size: 18px;
  font-family: cursive;
  /* text-decoration: ; */
  transition: all 0.5s ease;
  transform: translateX(235%);
  
}

/* .cardpink:hover .icon .carti #date {
  color: rgb(255, 255, 255);
  visibility: visible;
  display: inline-block;
  margin: 4px;
  margin-left: -25px;
  position: absolute;
  font-size: x-small;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #57ccfd;
  background: rgba(216, 26, 26, 0);
  text-align: center;
  line-height: 1.7rem;
  font-size: 18px;
  font-family: cursive;
  text-decoration:none ;
  transition: all 0.5s ease;
  transform: translateX(235%);
} */
/* .cardgreen:hover.iconcart {
  color: rgb(255, 255, 255);
  visibility: visible;
  display: inline-block;
  margin: 4px;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #57ccfd;
  text-align: center;
  line-height: 1.7rem;
  font-size: 30px;
  transition: all 0.3s ease;
  transform: translateX(500%);
  transform: translate(0, -5px);
  animation: float 5s ease-in-out infinite;
  transition: all .3s ease-in;
} */
.cardpink {
  position: static;
  height: fit-content;
}
.cardpink:hover {
  /* hover:bg-white hover:bg-opacity-5 */
  background: rgba(255, 255, 255, 0);
  /* opacity: 75%; */
  animation: glowpink 5s ease-in-out infinite;
  position: relative;
}
/* .cardpink:hover .text_event{
  background: rgba(149, 1, 241, 0.991);
} */

.cardpink:hover .base {
  /* animation: glowbase 5s infinite alternate-reverse; */
  /* animation: float 5s ease-in-out infinite; */
  animation: glowbase 5s ease-in-out infinite;
}
.cardgreen:hover .Logo {
 
  animation: float 5s ease-in-out infinite;

}
.cardpink:hover .Logo {

  animation: float 5s ease-in-out infinite;

}
.cardgreen:hover .base {
  /* animation: glowbase 5s infinite alternate-reverse; */
  /* animation: float 5s ease-in-out infinite; */
  animation: glowbase 5s ease-in-out infinite;
}
@keyframes glowpink {
  0%,
  100% {
    box-shadow: 1px 1px #8d09a75c, 0 0 20px 5px #8503535f,
      inset 2px 2px #ea18c75b;
  }
  50% {
    box-shadow: 1px 1px #8c09a7, 0 0 20px 5px #850353, inset 2px 2px #ea18c7;
  }
}
@keyframes glowgreen {
  0%,
  100% {
    box-shadow: 1px 1px #09a7115c, 0 0 20px 5px #0385175f,
      inset 2px 2px #18ea385b;
  }
  50% {
    box-shadow: 1px 1px #09a711, 0 0 20px 5px #038517, inset 2px 2px #18ea38;
  }
}

@keyframes glowbase {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.5);
  }
  100% {
    filter: brightness(1);
  }
}
.icon {
  fill: #fff;
}

.cardgreen:hover .iconcart {
  visibility: visible;
  transform: translate(0, -5px);
  transition: all 0.3s ease-in;
}

/* .img-responsive {
  max-width: 100%;
  height: auto;
} */

/* .card__collection .cards {
  width: 300px;
  height: 400px;
  display: block;
  background-size: cover;
  float: left;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  background-position: center;
  margin: 10px;
} */

/* .card__collection .cards--two {
  position: relative;
  backface-visibility: hidden;
}
.card__collection .cards--two p {
  position: absolute;
  top: 83%;
  left: -100%;
  text-transform: capitalize;
  color: rgb(5, 238, 75);
  font-size: 20px;
  z-index: 8;
  transition: all 0.6s ease;
} */
/* .card__collection .cards--two:hover p {
  left: 8%;
}
.card__collection .cards--two:hover img {
  transform: translateY(-15px);
}
.card__collection .cards--two:hover .cards--two__rect {
  top: 75%;
}
.card__collection .cards--two:hover .cards--two__rect:before {
  transform: translateY(15px);
}
.card__collection .cards--two:hover .carti {
  transform: translateY(0);
}
.card__collection .cards--two:hover .cards--two__tri {
  right: -40%;
}
.card__collection .cards--two:hover .cards--two__tri:before {
  right: -312px;
}
.card__collection .cards--two img {
  transition: all 0.2s ease;
} */
/* .card__collection .cards--two__tri {
  border-top: 220px solid transparent;
  border-bottom: 190px solid transparent;
  border-right: 288px solid #fff;
  opacity: 0.9;
  position: absolute;
  display: block;
  top: 0;
  right: -100%;
  transition: all 0.3s ease-in-out;
} */

/* .card__collection .cards--three {
  position: relative;
  z-index: 10;
}
.card__collection .cards--three:hover .cards--three__rect-1 {
  left: 10%;
}
.card__collection .cards--three:hover .cards--three__rect-1 .shadow-1 {
  left: -20%;
}
.card__collection .cards--three:hover .cards--three__rect-2 {
  left: 60%;
}
.card__collection .cards--three:hover .cards--three__rect-2:before {
  left: -100%;
}
.card__collection .cards--three:hover .cards--three__rect-2:after {
  left: 80%;
}
.card__collection .cards--three:hover .cards--three__rect-2 .shadow-2 {
  left: -10%;
}
.card__collection .cards--three:hover .cards--three__circle {
  transform: scale(1);
}
.card__collection .cards--three:hover .cards--three__circle:before {
  transform: scale(0.9);
}
.card__collection .cards--three:hover .cards--three__list .carti {
  transform: translateX(0);
} */

/* picche ka rectangle */
/* .card__collection .cards--three__rect-1 {
  background: #fff;
  width: 200px;
  height: 110px;
  transform: skewX(-20deg);
  display: block;
  position: absolute;
  top: 73%;
  opacity: 0.9;
  left: -100%;
  z-index: 8;
  transition: all 0.5s ease-in;
}
.card__collection .cards--three__rect-1 .eventkanaam {
  font-size: 20px;
  color: #fff;
  transform: skewX(20deg);
  line-height: 6rem;
}
.card__collection .cards--three__rect-1 .shadow-1 {
  background: #9b1308;
  width: 230px;
  height: 100px;
  display: block;
  position: absolute;
  left: -200%;
  z-index: -1;
  transition: all 0.3s ease-in;
}
.card__collection .cards--three__rect-2 {
  width: 100px;
  height: 70px;
  background: #fff;
  position: absolute;
  top: 65%;
  left: 1000%;
  opacity: 0.9;
  transform: skewX(-20deg);
  z-index: 8;
  transition: all 0.5s ease-in;
}
.card__collection .cards--three__rect-2::before {
  content: "";
  display: block;
  width: 50px;
  height: 40px;
  background: #57ccfd;
  opacity: 1;
  position: absolute;
  left: 500%;
  top: 10%;
  transition: all 0.3s ease-in;
}
.card__collection .cards--three__rect-2::after {
  content: "";
  display: block;
  width: 50px;
  height: 40px;
  background: #9b1308;
  opacity: 1;
  position: absolute;
  left: 500%;
  top: 114%;
  transition: all 0.5s ease-in;
  transition-delay: 0.2s;
}
.card__collection .cards--three__rect-2 .shadow-2 {
  background: #57ccfd;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: -10%;
  left: 500%;
  transition: all 0.5s ease-in;
  transition-delay: 0.2s;
}
.card__collection .cards--three__circle {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -15%;
  left: 50%;
  opacity: 0.9;
  transform: scale(0);
  transition: all 0.3s ease;
} */
/* .card__collection .cards--three__circle:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #9b1308;
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.3s ease;
  transition-delay: 0.2s;
}
.card__collection .cards--three__list {
  list-style: none;
  position: absolute;
  top: -9px;
  right: 7px;
  padding-top: 60px;
  transition: all 0.4s ease;
}
.card__collection .cards--three__list .carti {
  display: inline-block;
  margin: 4px;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #57ccfd;
  text-align: center;
  line-height: 1.7rem;
  font-size: 30px;
  transition: all 0.3s ease;
  transform: translateX(500%);
} */
/* .card__collection .cards--three__list .carti {
  transition-delay: 0.2s;
} */
/* .card__collection .cards--three__list li:nth-child(2) {
  transition-delay: 0.3s;
}
.card__collection .cards--three__list li:nth-child(3) {
  transition-delay: 0.4s;
} */

/* .app_tooltip { */

/* color: white; */
/* display: flex; */
/* align-items: ; */
/* justify-content: right; */
/* } */
/* margin:auto; */
/* padding: 72px; */
/* visibility: hidden; */
/* height: fit-content;} */

/* .with-tooltip { */
/* position: relative; */
/* } */

/* .with-tooltip::after { */
/* content: attr(data-tooltip-content); */
/* padding: 6px; */
/* border-radius: 4px; */
/* position: absolute; */
/* color: white;
  bottom: 115%; */
/* right: 50%; */
/* left: 50%; */
/* width: max-content; */
/* background-color: rgb(255, 0, 0);
  opacity: 0;
  font-size: 0.8rem;
  visibility: hidden;
  transform: translate(-50%, 18px) scale(0.8);
  transition: visibility, opacity, transform 200ms;
} */

/* .with-tooltip:hover::after {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0);
} */

@import url(https://fonts.googleapis.com/css?family=PT+Mono|PT+Serif);

/* .cardpink:hover .icon .carti #date { */
  /* color: rgb(255, 255, 255); */
  /* visibility: visible; */
  /* display: inline-block; */
  /* margin: 4px; */
  /* margin-left: -25px; */
  /* position: absolute; */
  /* font-size: large; */
  /* width: 50px; */
  /* height: 50px; */
  /* border-radius: 50%; */
  /* background: #57ccfd; */
  /* background: rgb(216, 26, 26); */
  /* text-align: center; */
  /* line-height: 1.7rem; */
  /* font-size: 18px; */
  /* font-family: cursive; */
  /* text-decoration: ; */
  /* transition: all 0.5s ease; */
  /* visibility: visible; */
  /* transform: translateX(1%); */
/* } */
/* .cardpink:hover .icon .carti article#date {
  border: 0;
  padding: 20px 0;
  position: relative;
  text-align: center;
}

.cardpink:hover .icon .carti #date article#date:first-child {
  border-top: none;
}

.cardpink:hover .icon .carti #date article#date:last-child {
  border-bottom: none;
}

.cardpink:hover .icon .carti #date aside {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 20px;
  top: -26px;
  width: 80px;
  padding: 5px 8px 10px;
  background-color: #555;
  color: #ddd;
}

.cardpink:hover .icon .carti #date aside:before,
aside:after {
  content: "";
  position: absolute;
  left: 0;
  border-style: solid;
  border-width: 0 40px 20px;
}

.cardpink:hover .icon .carti #date aside:before {
  bottom: -20px;
  border-color: transparent #555;
  z-index: 1234;
}

.cardpink:hover .icon .carti #date aside:after {
  bottom: -26px;
  border-top-width: 6px;
  border-color: #ddd #ddd transparent #ddd;
}

.cardpink:hover .icon .carti #date aside span {
  display: block;
}

.cardpink:hover .icon .carti #date aside span.day {
  font-size: 60px;
  line-height: 65px;
  font-family: "PT Serif", monospace;
}

.cardpink:hover .icon .carti #date aside span.month {
  font-family: "PT Mono", monospace;
} */


@import url(https://fonts.googleapis.com/css?family=PT+Mono|PT+Serif);



article {
  border: 0;
  padding: 0px ;
  position: relative;
  text-align: end;
  visibility: hidden;

  
}

#date article#date:first-child {
  border-top: none;
}

#date article#date:last-child {
  border-bottom: none;
}

#date .asidepink {
  border-radius: 3px;
    border: 0px solid;
    /* animation-delay: 2s; */
    animation: glowpink 5s ease-in-out infinite;
    position: relative;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 20px;
  top: -26px;
  width: 80px;
  padding: 5px 8px 10px;
  background-color: rgb(0, 0, 0);
  color: #ddd;
}
#date .asidegreen {
  border-radius: 3px;
  border: 0px solid;
  /* animation-delay: 2s; */
  animation: glowgreen 5s ease-in-out infinite;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 20px;
  top: -26px;
  width: 80px;
  padding: 5px 8px 10px;
  background-color: rgb(0, 0, 0);
  color: #ddd;
}

/* #date aside:before,
aside:after {
  content: "";
  
  position: absolute;
  left: 0;
  border-style: solid;
  border-width: 0 40px 20px;
} */

/* #date aside:before {
  
  bottom: -20px;
  border-color: transparent #000;
  z-index: 1234;
}

#date aside:after {
  
  bottom: -26px;
  border-top-width: 6px;
  border-color: #ddd #ddd transparent #ddd;
} */

#date aside span {
  display: block;
}

#date aside span.day {
  font-size: 60px;
  line-height: 65px;
  font-family: "PT Serif", monospace;
}

#date aside span.month {
  font-family: "PT Mono", monospace;
}


.cardpink:hover .icon .carti #date {
  color: rgb(255, 255, 255);
  visibility: visible;
  display: inline-block;
  margin: 4px;
  margin-left: -25px;
  position: absolute;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #57ccfd;
  background: rgba(1, 190, 23, 0);
  text-align: center;
  line-height: 1.7rem;
  /* animation: glowpink 10s ease-in-out infinite; */
  transition: all 0.5s ease;
  transform: translateX(235%);
}